body{
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
 
}

h1, h2, h3{
  font-family: "Lobster", cursive;

}

.text{
  font-size:2rem;

}

.title{
  text-decoration: underline;
  text-decoration-line: overline;
  text-decoration-color: rgba(182, 22, 16);
}

.card-title{
  font-size: 2rem;
}

.fa-heart{
  color: red
}

.site-footer {
 
  padding: 80px 0 80px 0;
}


.bg {
  animation:slide 10s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #e9e3b4 50%, #396d9e 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:15s;
}

.bg3 {
  animation-duration:17s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.arrow{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #06A8FF;
    border-right: 5px solid #06A8FF;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

.extraIcon{ 
  font-size:60px; 
}

.extraBtn{ 
  font-size:20px; 
  font-weight:800;
}

.btn-project {
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2;
  height: 50px;
  transition: all 200ms linear;
  border-radius: 100px;
  width: 100px;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  border:5px ridge rgb(182, 22, 16);
  cursor: pointer;
  box-shadow: 0 40px 35px 0 rgba(16, 39, 112, .25);
  outline: 1;
  text-transform: capitalize;
  size:"lg" 
}