body{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
 
}

h2{
  font-family: cursive;
}

.text{
  font-size:2em;

}

.title{
  text-decoration: underline;
  text-decoration-line: overline;
  text-decoration-color: #FF8C00;
}

.card-title{
  font-size: 2rem;
}

.fa-heart{
  color: red
}

.site-footer {
 
  padding: 80px 0 80px 0;
}


.bg {
  animation:slide 10s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #e9e3b4 50%, #396d9e 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:15s;
}

.bg3 {
  animation-duration:17s;
}


@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.arrow{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #06A8FF;
    border-right: 5px solid #06A8FF;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

.extraIcon{ 
  font-size:60px; 
}

.extraIcon:hover {
  color:gray;
  transform: scale(1.1)
}

.extraBtn{ 
  font-size:1.5vw; 
  font-weight:800;
}

.btn-project {
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2;
  height: 50px;
  transition: all 200ms linear;
  border-radius: 50px;
  width: 100px;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border:5px ridge #FF8C00;
  cursor: pointer;
  box-shadow: 0 10px 15px 0 rgba(16, 39, 112, .25);
  outline: 1;
  text-transform: capitalize;
  size:"lg" 
}

.gap{
  padding:30rem;

}

.maingap{
  padding: 15rem 0 10rem 0
}

.gapaboutme{
  padding: 30rem 0 0 0
}

.gapproject{
  padding:2rem 0 0 0
}

.presenter{
  padding-top:10vw
}

.fadeIn {
	animation: fadeIn 6s;
  	opacity: 1;
}

@keyframes fadeIn {
  from {
  	opacity: 0;
  }
  to {
 	opacity: 1;
  }
}

@keyframes fadeOut {
  from {
  	opacity: 1;
  }
  to {
 	opacity: 0;
  }
}


.grid{
  position:relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  justify-content: center;
  align-items:center;
  height: auto;
  justify-self: center;
  padding: 120px 0;
  margin:20px;

}


/* 
.image1 {
  transition: filter 1s ease-in-out;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.parent:hover .image1{
  filter: blur(0px);
  -webkit-filter: blur(0px);
}
 */

.frame {
  width: 100%;
  overflow: hidden;
}
/* I have to create this frame class in order to get zoom effect with the same dimension of image box,
the inside this frame, use same width as the one inside image1, and for the hover I do scale(1.1)
here the overflow hidden is important, without this code, the zoom effect will be bigger than the image box */
/* if we want to zoom out, meaning smaller but still the same image box, then we will have set the width/height under frame
to be same as the width/height under the hover, and the image1 width/height will be set bigger than those */

 .image1 {
  width: 100%;
  object-fit: fill;
  z-index: 1;
  transition: filter 2s ease-in-out;
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

.image1:hover {
  transform: scale(1.2);
}

.parent:hover .image1 {
  -webkit-filter: grayscale(0%); 
  filter: grayscale(0%);
}

/* line 235 is for when hover parent, the image1 changes, while  
line 231 is when image1 hover, image1 changes */


.image3 {
  width: 100%;
  max-width:25rem;
  object-fit: fill;
  z-index: 1;
  transition: filter 2s ease-in-out;
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

.image3:hover {
  transform: scale(1.2);
}

.parent:hover .image3 {
  -webkit-filter: grayscale(0%); 
  filter: grayscale(0%);
}

.content{
  background-color: white;
  color: black;
  border: 1px solid #000000;
  border-radius: 3%;
  z-index: 2;
  width: auto;
  justify-content: center;
  align-items:center;
  margin:10px;
}

.content1{
  background-color: white;
  color: black;
  border: 1px solid #000000;
  border-radius: 3%;
  z-index: 2;
  width: auto;
  justify-content: center;
  align-items:center;
  margin:10px;
}

.slide .grid > *:first-child{
  animation: slideFromLeft 2s;
  	opacity: 1;
}
.slide .grid > *:nth-child(2){
  animation: slideFromRight 2s;
  	opacity: 1;
}
/* this is grab first child which is on the left to slide from left  
and grab 2nd child which is on the right to slide from right */

@keyframes slideFromLeft{
  
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}
/* this is to set the contact me portion to slide from left when scrolling */


@keyframes slideFromRight{
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@media(max-width:768px) {
  .grid{
    grid-template-columns: 1fr;
  }

  .image {grid-area:one}
  .content1 {grid-area:two}

  .project{
    grid-template-areas: 
    "one"
    "two"
  }
    /* this is to switch the real estate image to be first then the content in the small screen,
  because in html content was written before image, but in small screen we want them same as 
  the hawaii layout, so we set grid-area:one and grid-area:two then use grid-template-areas */

  .slide .grid > *:first-child,
  .slide .grid > *:nth-child(2){
    animation: fadeIn 2s;
      opacity: 1;
  }

  .image1,
  .image3{
    transition: filter 2s ease-in-out;
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
  }


  /* this is to remove the slide feature for the project section on the small screen  
  instead I added the fadeIn feature, which works better on small screen; */
}